body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    background-color: #161512ff;
}

header {
    margin-top: -21px;
    background-color: #270722ff;
    height: 100px;
}

.head h1 {
    color: #d8d8f6ff;
    padding-top: 25px;
    padding-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
/*espacement entre chaque titre du menu*/

.head li {
    color: #d8d8f6ff;
    display: inline-flex;
    padding-left: 80px;
}

li{
    display: flex;
    justify-content: center;
}

.lastli {
    padding-right: 20px;
}

.head ul {
    display: flex;
    justify-content: end;
    margin-top: -35px;
}

a {
    color: #d8d8f6ff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

a:hover {
    color: #e6dbe2ff;
}

.lien {
    color: #f0c97fff;
}

p {
    color: #e6dbe2ff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
}

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #e6dbe2ff;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #161512ff;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    background-color: #161512ff;
    padding: 20px;
  } 

  label{
    color: #e6dbe2ff;
  }

  #question {
    color: #e6dbe2ff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

  .plusInfos {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-bottom: 100px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #d8d8f6ff;
    height: 70px;
}

.foot {
    width: 3em;
}

#f1 {
    padding-left: 20px;
}

#f3 {
    padding-right: 20px;
}

.hamb {
    display: none;
}

/*pour le smartphone*/
@media screen and (max-width: 1070px){

    .head h1 {
        width: 1em;
    }
      
    .bienvenue {
        font-size: 1.2em;
        margin-left: 0px;
        margin-top: 60px;
    }

    .menu{
        display: none;
       }
    
    .hamb {
        background-color:#f0c97fff;
        display: flex;
        justify-content: center;
        margin-top: -60px;
        margin-left: 80%;
        justify-content: flex-end;
        width: 60px;
    }
    
    
    }