body {
  background-color: #161512ff;
  font-family: 'Raleway', sans-serif;
}

.ml3 {
  margin-top: auto;
  font-weight: 400;
  font-size: 3.5em;
}

h1 {
  padding-top: 15%;
  color: #e6dbe2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Raleway', sans-serif;
}

p {
  color: #e6dbe2ff;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: #f0c97fff;
}

a:hover {
  color: #e6dbe2ff;
}

/*pour le smartphone*/
@media screen and (max-width: 1070px) {

  .ml3 {
    margin-top: 40%;
    font-weight: 400;
    font-size: 1.3em;
  }

}