body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    background-color: #161512ff;
}

h3:first-of-type {
    margin-top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20%;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6dbe2ff;
}

a {
    color: #d8d8f6ff;
    text-decoration: none;
}