/*body comporte la font family Raleway, une margin de 0px et un background color gris foncé*/
body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    background-color: rgb(54, 54, 54);
}
/*header comporte une margin top pour alligner le haut, background color gris claire et une hauteur de 100*/
header {
    margin-top: -21px;
    background-color: lightgrey;
    height: 100px;
}
/*le h1 dans la classe head a un padding top de 10px*/
.head h1 {
    padding-top: 20px;
    padding-left: 20px;
}
/*espacement entre chaque titre du menu*/
.head li {
    display: inline;
    padding-left: 80px;
    font-weight: 900;
}

.lastli {
    padding-right: 20px;
}

.head ul {
    display: flex;
    justify-content: end;
    margin-top: -45px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: aliceblue;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: lightgrey;
    height: 70px;
}

.foot {
    width: 3em;
}

#f1 {
    padding-left: 20px;
}

#f3 {
    padding-right: 20px;
}

/*pour le smartphone*/
@media screen and (max-width: 1000px){

.head h1 {
    width: 1em;
}

.head {
    overflow: hidden;
    background-color: lightgrey;
    position: relative;
    padding-right: 20px;;

}

.head li{
    display: block;
    padding-left: 0px;
    font-weight: 900;
}

.head #page {
    display: none;
  }

.head a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

.head a.icon {
    background-color:rgb(54, 54, 54);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

.head a:hover {
    background-color: lightgrey;
    color: black;
  }
  
.active {
    background-color:rgb(54, 54, 54);
    color: lightgrey;
  }  


}